.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

div {
    background-color: rgb(85, 96, 210);
    width: fit-content;
}

.header,
.intro-text {
    width: 100%;
    grid-column: span 3;
}

.header {
    background-color: rgb(136, 136, 177);
    min-height: 150px;
}

#first {
    background-color: rgb(19, 5, 69);
}

#second {
    background-color: rgb(32, 32, 130);
}

#third {
    background-color: rgb(85, 96, 210);
}


#first,
#second,
#third {
    width: 100%;
    min-height: 200px;
}

button {
    width: 100px;
    height: 50px;
    background-color: rgb(42, 165, 155);
}

button:hover {
    cursor: pointer;
    background-color: aqua;
}

.div-few-style {
    width: 90%;
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Fixture {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    background-color: rgba(125, 14, 64, 0.735);
}