html {
    scroll-behavior: smooth
}

body {
    margin: 0;
    font-family: sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.hero-section {
    background-image: url("varios/full-stadium.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #8A1538;
}

.hero-elements {
    width: 70%;
    position: relative;
    left: 15%;
    padding-top: 10%;
    padding-bottom: 14.7%;
}

.hero-elements h1,
.hero-elements h2 {
    color: white;
    text-align: center;
}

.hero-elements h1 {
    font-size: 3rem;
}

.hero-elements h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

#button-grid {
    display: grid;
    grid-template-columns: 5;
}

#see-re {
    position: relative;
    top: 50%;
    width: 130px;
    height: 60px;
    grid-column-start: 4;
    background-color: #8A1538;
    border-width: 0;
    border-radius: 10px;
    opacity: 0.8;
    font-size: 1em;
    color: white;
}

#see-re:hover {
    cursor: pointer;
    width: 140px;
    height: 70px;
    transition: 1s;
}

.intro-text {
    grid-column: span 3;
    margin-top: 10px;
}

.intro-text p {
    position: relative;
    left: 5%;
    width: 90%;
    font-size: 1.3rem;
    font-weight: 500;
}

#first,
#second,
#third {
    position: relative;
    min-height: 200px;
    padding-bottom: 15px;
    padding-top: 20px;
    width: 70%;
    height: max-content;
    left: 15%;
}

#first h3,
#second h3,
#third h3 {
    text-align: center;
    font-weight: 600;
}

#first p,
#second p,
#third p {
    position: relative;
    width: 90%;
    left: 5%;
    text-align: justify;
    font-weight: 400;
}

#first-p-games,
#second-p-games,
#third-p-games {
    position: relative;
    left: 20%;
    width: 60%;
    height: 50px;
    border-radius: 7px;
    border-width: 0;

    font-size: 1rem;
    font-weight: 600;

    color: white;
    background-color: #8A1538;
    ;
}

#first-p-games:hover,
#second-p-games:hover,
#third-p-games:hover {
    color: rgb(196, 217, 150);
    cursor: pointer;
}

.img-container {
    position: relative;
    width: 100%;
    min-height: 150px;
    padding-top: 15px;

}

/*This img tag is for the cards to of the groups phases, I need to fix it*/
img {
    width: 100%;
    display: inline-block;
}

.div-few-style {
    position: relative;
    left: 7%;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 20px;
    font-size: 0.9rem;
    font-weight: 600;
}

.div-flags-and-matches {
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-matches-phases {
    grid-column: span 2;
    text-align: center;
    background-color: #8A1538;
    color: rgb(247, 241, 241);
}

#Fixture {
    position: relative;
    left: 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 70%;
    background-color: #EFEFEF;
}

@media screen and (max-width: 1014px) {
    #learn {
        top: 30%;
    }

    #Fixture {
        grid-template-columns: 1fr;
        width: 100%;
        left: 0%;
    }
}


@media screen and (max-width: 730px) {

    .hero-section {
        background-image: url("varios/wcup-port-mob.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(138, 21, 56, 0.6);
        background-blend-mode: multiply;
    }

    #see-re {
        /*visibility: hidden;*/
        top: 130%;
        grid-column-start: 2;
    }

    .hero-elements {
        padding-top: 5%;
        padding-bottom: 45%;
    }

    .hero-elements h1 {
        font-size: 2.6rem;
    }

    .hero-elements h2 {
        font-size: 1.2rem;
    }

    .intro-text p {
        width: 88%;
        left: 6%;
        text-align: justify;
        font-size: 1.1rem;
        font-weight: 400;
    }

    #first,
    #second,
    #third {
        grid-column: span 3;
        margin-bottom: 200px;
        width: 88%;
        left: 6%;
    }

    #first p,
    #second p,
    #third p {
        width: 100%;
        left: 0%;
    }



    #first-p-games,
    #second-p-games,
    #third-p-games {
        left: 0%;
        width: 100%;
    }

    .div-bottom-sign {
        font-size: 1em;
    }

    .div-matches-phases {
        grid-column: span 1;
    }



}